@import "tailwindcss";

@theme {
    /*Colors*/
    --color-purple-light: #F2F3FF;
    --color-blue: #0B23F4;
    --color-light-blue: #B6BDFC;
    --color-red: #F4320B;
    --color-light-red: #FCC1B6;
    --color-black: #111111;
    --color-grey: #707070;
    --color-darkgrey: #717171;
    --color-button: #0B23F4;
    --color-button-hover: #5465F7;
    --color-button-disabled: #E7E7E7;
    --color-button-text: #E7E7E7;
}

:root {
  font-family: "Inter", sans-serif;
}